* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    background-color: goldenrod;
    height: 15vh;
    line-height: 15vh;
}

main {
    display: flex;
    height: 70vh;
    line-height: 70;
}

article {
    flex: 3;
    order: 2;
}

aside {
    flex: 1;
    background-color:gold;
    order: 3;
}

nav {
    flex: 1;
    background-color: darkgoldenrod;
    order: 1;
}

footer {
    background-color: orange;
    height: 15vh;
    line-height: 15vh;
}