body {
    background-color:forestgreen;
    color: azure;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

.img {
    border: 1px solid blanchedalmond;
    border-radius: 25px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.foto {
    background-color: forestgreen;

    
    & img {
        width: 200px;
    }
}

.promo {
    text-align: center;
    color:navy;
}

.cod{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color:salmon;
    padding: 10px 15px;
    color: bisque;
    border: 2px solid white;
    border-radius: 15px;
}

& p {
    text-align: center;
    font-weight: bold;
}

#tombol {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid whitesmoke;
    background-color: springgreen;
    color: black;
}

